<div class='u-pull-right'>
    <a href="#/dashboard">Dashboard</a> | <a href="#/">Logout</a>
</div>

<h2>
    <a ng-href="#/user/{{TC.displayTopic._user._id}}">
    <span ng-bind='TC.displayTopic._user.name'></span></a> posted a topic
</h2>
<h4 ng-bind='TC.displayTopic.title'></h4>
<h4>Description: <span ng-bind='TC.displayTopic.description'></span></h4>


<!-- new post form -->
<h4>Post you answers here...</h4>
<form>
    <textarea ng-model='TC.newPost.content'></textarea>
    <button ng-click='TC.createPost()'>Submit!</button>
</form>
<hr>

<div class='Post' ng-repeat='post in TC.displayTopic.posts | orderBy:"-created_at"'>
    <!-- username: post -->
    <p><a ng-href="#/user/{{post._user._id}}"><span ng-bind='post._user.name'></span></a> : <span ng-bind='post.content'></span></p>

    <!-- Have people be able to like or dislike the post -->
    <!-- user who posted cannot like or dislike his own post -->
    <p>
        <button ng-click="TC.updateLikes(post, TC.current_user)">like <span ng-bind='post.likes'></span></button> 
        <button ng-click="TC.updateDislikes(post, TC.current_user)">dislike <span ng-bind='post.dislikes'></span></button> 
    </p>

    <!-- have comments relating to the post here -->
    <div class='Comments'></div>

    <form>
        <textarea ng-model='TC.newComment.content'></textarea>
        <button>Comment!</button>
    </form>
    <hr>
</div>

<ul ng-repeat="post in TC.displayTopic.posts | orderBy:'-created_at'">
<!-- need to use deepPopulate for these nested items -->
<!-- need to deepPopulate comments._user.name -->
    <li ng-bind='post._user._id'></li>
    <li ng-bind='post.content'></li>
    <li ng-bind='post._user.name'></li>
    <li ng-bind='post.comments'></li>
    <li ng-bind='post.created_at'></li>
</ul>